<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Test Homepage</title>
</head>
<body>


    등록하기
    <form action="/m/insert/" method="POST">
        {% csrf_token %}
        학번: <input type="text" name="clsNum">
        <br>
        이름: <input type="text" name="name">
        <input type="submit" value="작성">

    </form>

    <button onclick="location.href='../v'">목록</button >
</body>
</html>