<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
    <form action="http://localhost:2028/m/2" method="POST" id="frm">
        {% csrf_token %}
        <input type="number" name="clsNum" placeholder="학번">
        <span id="msg" style="display: none;">시스템에 등록된 학번이 아닙니다.</span><br/>
        <input type="text" name="name" placeholder="이름" id="name" style="display: none;"> <br/>
    </form>
    <input type="button"
                    onclick="document.getElementById('frm').submit();"
                    value="로그인" id="btn2" style="display:none;">
    <div id="btn1" style="display:block;">
            <button type="submit" onclick="buttonClick()">로그인</button>
    </div>
    <script>
        function buttonClick() {
            fetch('http://localhost:2028/m/3', {
                method: 'POST',
                body: new URLSearchParams({
                    clsNum: 20810,
                })
            }).then((res) => {

                if (res.status != 200) {
                    document.getElementById("msg").style.display = "block";
                }
                else {
                    document.getElementById("msg").style.display = "none";
                    document.getElementById("name").style.display = "block";
                    document.getElementById("btn2").style.display = "block";
                    document.getElementById("btn1").style.display = "none";
                }
                return res.json();
              })
        }
    </script>
</body>
</html>