<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
    <form action="http://localhost:2028/m/3" method="POST">
        <input type="number" name="clsNum" placeholder="학번"> <br/>
        <input type="text" name="name" placeholder="이름"> <br/>

        <button type="submit">로그인</button>
    </form>

    <button type="button" onclick="buttonClick()">전송</button>
    <script>
        function buttonClick() {
            fetch('http://localhost:2028/m/3', {
                method: 'POST',
                cache: 'no-cache',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams({
                    clsNum: 20810,
                })
            }).then((response) => response.json()).then((data) => {
                console.log(data);
            });
        }
    </script>
</body>
</html>