@charset "UFT-8";
@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 17px;
  font-family: "Cafe24SsurroundAir";
  background-color: rgba(255, 255, 255, 0.5);
}

body {
  font-size: 23px;
  font-family: "Cafe24SsurroundAir";
  background-color: #f1f2ed;
}

.logo {
  background: linear-gradient(to top, #cddad2, #8aded1);
}
.ip {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 20px;
}
.ip input {
  background-color: rgb(214, 235, 235, 0.2);
  border-style: none;
  border-bottom-style: solid;
  border-color: none;
  margin-left: 9px;
  border-color: lightseagreen;
  outline: none;
}
.student {
  margin-left: 30px;
  margin-right: 30px;
}

.nemo {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0%;
  margin-left: 0px;
  width: 40%;
  height: 400px;
  border-style: solid;
  border-color: #f0ccb2;
  border-width: 1px;
  border-radius: 10px;
  position: fixed;
  box-shadow: silver;
  text-align: center;
}

body h1 {
  text-align: center;
}
body span {
}
.log input {
  background-color: lime;
  border-style: solid;
}

body {
  font-family: "Lato", sans-serif;
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link_wrapper {
  position: relative;
}

a {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all 0.35s;
}

.icon {
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all 0.35s;
}

.icon svg {
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #2ecc71;
  transition: all 0.35s;
}

a:hover {
  width: 200px;
  border: 3px solid #2ecc71;
  background: transparent;
  color: #2ecc71;
}

a:hover + .icon {
  border: 3px solid #2ecc71;
  right: -25%;
}
