@charset "UFT-8";
@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    .nanumsquare {
    font-family: "NanumSquare", sans-serif !important;
  }
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f2eeed;
}
header {
  background: linear-gradient(to top, #e0ecde, #ddddda);
  width: 100%;
  height: 90px;
  display: block;
}

.logo {
  font-family: "Cafe24SsurroundAir";
  font-size: 40px;
  padding-top: 25px;
}

.login {
  font-size: 22px;
  font-family: "Cafe24SsurroundAir";
  text-align: right;
  padding-right: 10%;
}

nav {
  background: linear-gradient(to bottom, #f0dee3, #f4eeed);
  height:;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 40px;
  box-shadow: 3px;
}

nav ul {
  font-size: 20px;
  font-family: "Cafe24SsurroundAir";
  padding-right: 30%;
  width: 90%;
  margin-right: auto;
  display: flex;
  text-align: center;
}
nav ul li {
  margin-right: 10%;
  margin-top: 10px;
  list-style: none;
  display: inline-block;
}

section {
  border-color: rgb(218, 204, 204);
  margin-top: 20px;
  margin-left: 7%;
  margin-right: 7%;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: white;
}

.care {
  margin: 10px;
  background: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Cafe24SsurroundAir";
  font-size: 20px;
  line-height: 35px;
  border-radius: 10px;
  border-color: bisque;
  border-style: dotted;
}

.box-1 {
  background-color: #f1cbb5;
  text-align: center;
  padding-left: 40%;
  font-family: "Cafe24SsurroundAir";
}

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  
}
.btn-one {
  color: #fff;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.two {
  font-family: "Cafe24SsurroundAir";
  padding-left: 8%;
  padding-top: 3%;
  word-spacing: 6px;
}
.checkbox input {
  display: none;
}

.checkbox span {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.checkbox .icon {
  position: relative;
  width: 17px;
  height: 17px;
  border: 1px solid #c8ccd4;
  border-radius: 3px;
  transition: background 0.1s ease;
}

.checkbox.icon::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 5px;
  width: 5px;
  height: 11px;
  border-right: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
  transform: rotate(45deg) scale(0);
  transition: all 0.3s ease;
  transition-delay: 0.15s;
  opacity: 0;
}
.checkbox.text {
  margin-left: 5px;
}

.checkbox input:checked ~ .icon {
  border-color: transparent;
  background: #e5c450;
  animation: jelly 0.6s ease;
}

.checkbox input:checked ~ .icon::after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

@keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}

.final {
  margin: 10px;
  background: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Cafe24SsurroundAir";
  font-size: 20px;
  line-height: 35px;
  border-radius: 10px;
  border-color: bisque;
  border-style: dotted;
}

.subject {
  line-height: 17px;
}
.hl {
  background-color: rgb(255, 255, 255);
  color: cadetblue;
}

input[type="reset"]{
  height: 35px;
  width: 60px;
  background-color:lightgoldenrodyellow;
  padding-left: 4px;
  padding-right: 4px;
  border-style:solid;
  border-width: 1px;
  font-family: "Cafe24SsurroundAir";
}


input[type="submit"]{
  display:none;
}



a { text-decoration:none }

.title{
  padding-left: 50px;
  color: cadetblue;
  font-family: "Cafe24SsurroundAir";
  font-size: 27px;

}