{% extends 'base.html' %}
{% block title %}
    <title>느티::과목선택</title>
{% endblock %}

{% block content %}
         <script type="text/javascript">
            var maxCount = 9;
            var count = 0;

            function CountChecked(field){
                if (field.checked) {
                    count += 1;
                }
                else {
                    count -= 1;
                }

                if (count > maxCount) {
                    field.checked = false;
                    count -= 1;
                }
            }

            function checkOnlyOne1(element) {

              const checkboxes
                  = document.getElementsByName("J[]");

              checkboxes.forEach((cb) => {
                cb.checked = false;
              })

              element.checked = true;
            }

            function checkOnlyOne4(element) {

              const checkboxes
                  = document.getElementsByName("A[]");

              checkboxes.forEach((cb) => {
                cb.checked = false;
              })

              element.checked = true;
            }

        </script>
        <br>
        <ul class="care">
            <h2 class="hl">과목선택 시 <font color:"red">유의사항</font>
            </h2>
            <li><b>기초교과</b>(국어,영어,수학,한국사) 총 이수 단위 수 - <b>90단위 이하</b>여야한다. 단, 공동교육과정을 수강한 경우, 본인의 최종 이수단위의 50%를 초과하면 안된다.
            </li>
            <li><b>진로선택</b> 과목수 - <b>3과목 이상</b>이여야한다.</li>
            <li><b>사회과목</b> 총 이수 단위수 - <b>최소 10단위</b> 이상이여야한다.</li>
            <li><b>과학과목</b> 총 이수 단위수 - <b>최소 12단위</b> 이상이여야 한다.</li>
        </ul>

        <div>
            <div class="two">
                <div class="subject">
                    <div>
                        <h1>3학년 1학기 선택이수 과목</h1>

                        <form method="POST" action="{% url 'third_end' %}" id="frm1">
                            {% csrf_token %}
                            <input type="text" placeholder="학기 구분" name="semester" value="1" style="display:none;" readonly>
                            <p><b>기초교과 과목-국어</b></p>
                            <label class="checkbox">
                                <input type="checkbox" value='언어와 매체' onclick="CountChecked(this);" name="A[]"/>
                                <span class="icon"></span>
                                <span class="test">언어와 매체</span>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" value='화법과 작문' onclick="CountChecked(this);" name="A[]"/>
                                <span class="icon"></span>
                                <span class="test">화법과 작문</span>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" value='심화 국어' onclick="CountChecked(this);" name="A[]">
                                <span class="icon"></span>
                                <span class="test">심화 국어</span>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" value='고전 읽기' onclick="CountChecked(this);" name="A[]" />
                                <span class="icon"></span>
                                <span class="test">고전 읽기</span>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" value='실용 국어' onclick="CountChecked(this);" name="A[]"/>
                                <span class="icon"></span>
                                <span class="test">실용 국어</span>
                            </label>


                            <br><br>
                            <p><b>기초교과 과목-수학</b></p>
                            <label class="checkbox">
                                <input type="checkbox" value='확률과 통계' onclick="CountChecked(this);" name="A[]" />
                                <span class="icon"></span>
                                <span class="test">확률과 통계</span>
                            </label>

                            <label class="checkbox" />
                            <input type="checkbox" value='미적분' onclick="CountChecked(this);"  name="A[]"/>
                            <span class="icon"></span>
                            <span class="test">미적분</span>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" value='기하' onclick="CountChecked(this);"  name="A[]"/>
                                <span class="icon"></span>
                                <span class="test">기하</span>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" value='수학과제 탐구'  onclick="CountChecked(this);" name="A[]"/>
                                <span class="icon"></span>
                                <span class="test">수학과제 탐구</span>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" value='경제수학' onclick="CountChecked(this);" name="A[]" />
                                <span class="icon"></span>
                                <span class="test">경제수학</span>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" value='실용 수학'  onclick="CountChecked(this);" name="A[]"/>
                                <span class="icon"></span>
                                <span class="test">실용 수학</span>
                            </label>


                            <br><br>
                            <p><b>기초교과 과목-영어</b></p>
                            <label class="checkbox">
                                <input type="checkbox" value='영어회화' onclick="CountChecked(this);"  name="A[]"/>
                                <span class="icon"></span>
                                <span class="test">영어회화</span>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" value='영어 독해와 작문' onclick="CountChecked(this);" name="A[]" />
                                <span class="icon"></span>
                                <span class="test">영어 독해와 작문</span>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" value='영미 문학 읽기' onclick="CountChecked(this);" name="A[]" />
                                <span class="icon"></span>
                                <span class="test">영미 문학 읽기</span>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" value='영어권문화' onclick="CountChecked(this);" name="A[]" />
                                <span class="icon"></span>
                                <span class="test">영어권문화</span>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" value='실용영어'  onclick="CountChecked(this);" name="A[]"/>
                                <span class="icon"></span>
                                <span class="test">실용영어</span>
                            </label>

                            <br><br>

                            <p><b>탐구과목-사회(역사/윤리 포함)</b></p>
                            <label class="checkbox">
                                <input type="checkbox" value='세계지리' onclick="CountChecked(this);" name="A[]" />
                                <span class="icon"></span>
                                <span class="test">세계지리</span>
                            </label>

                            <label class="checkbox">
                            <input type="checkbox" value='윤리와 사상' onclick="CountChecked(this);"  name="A[]">
                            <span class="icon"></span>
                            <span class="test">윤리와 사상</span>
                            </label>

                            <label class="checkbox" >
                            <input type="checkbox" value='동아시아사' onclick="CountChecked(this);"  name="A[]">
                            <span class="icon"></span>
                            <span class="test">동아시아사</span>
                            </label>

                            <label class="checkbox" >
                            <input type="checkbox" value='정치와 법' onclick="CountChecked(this);" name="A[]">
                            <span class="icon"></span>
                            <span class="test">정치와 법</span>
                            </label>

                            <label class="checkbox">
                            <input type="checkbox" value='여행지리' onclick="CountChecked(this);" name="A[]">
                            <span class="icon"></span>
                            <span class="test">여행지리</span>
                            </label>

                            <label class="checkbox">
                            <input type="checkbox" value='사회문제 탐구'  onclick="CountChecked(this);"  name="A[]">
                            <span class="icon"></span>
                            <span class="test">사회문제 탐구</span>
                            </label>

                            <label class="checkbox">
                            <input type="checkbox" value='고전과 윤리'  onclick="CountChecked(this);" name="A[]">
                            <span class="icon"></span>
                            <span class="test">고전과 윤리</span>
                            </label>

                            <br><br>


                            <p><b>탐구과목-과학</b></p>
                            <label class="checkbox">
                            <input type="checkbox" value='물리학1' onclick="CountChecked(this);"  name="A[]">
                            <span class="icon"></span>
                            <span class="test">물리학1</span>
                            </label>

                            <label class="checkbox">
                            <input type="checkbox" value='화학1' onclick="CountChecked(this);"  name="A[]">
                            <span class="icon"></span>
                            <span class="test">화학1</span>
                            </label>

                            <label class="checkbox">
                            <input type="checkbox" value='생명과학1' onclick="CountChecked(this);"  name="A[]">
                            <span class="icon"></span>
                            <span class="test">생명과학1</span>
                            </label>

                            <label class="checkbox">
                            <input type="checkbox" value='지구과학1' onclick="CountChecked(this);"  name="A[]">
                            <span class="icon"></span>
                            <span class="test">지구과학1</span>
                            </label>

                            <label class="checkbox">
                            <input type="checkbox" value='물리학2'  onclick="CountChecked(this);"  name="A[]"/>
                            <span class="icon"></span>
                            <span class="test">물리학2</span>
                            </label>

                            <label class="checkbox">
                            <input type="checkbox" value='화학2' onclick="CountChecked(this);"   name="A[]"/>
                            <span class="icon"></span>
                            <span class="test">화학2</span>
                            </label>

                            <label class="checkbox">
                            <input type="checkbox" value='생명과학2' onclick="CountChecked(this);"   name="A[]"/>
                            <span class="icon"></span>
                            <span class="test">생명과학2</span>
                            </label>

                            <label class="checkbox">
                            <input type="checkbox" value='지구과학2' onclick="CountChecked(this);"   name="A[]"/>
                            <span class="icon"></span>
                            <span class="test">지구과학2</span>
                            </label>

                            <br><br>
                            <label class="checkbox">
                            <input type="checkbox" value='물리학실험' onclick="CountChecked(this);"   name="A[]"/>
                            <span class="icon"></span>
                            <span class="test">물리학실험</span>
                            </label>

                            <label class="checkbox">
                            <input type="checkbox" value='화학실험'  onclick="CountChecked(this);"  name="A[]"/>
                            <span class="icon"></span>
                            <span class="test">화학실험</span>
                            </label>

                            <label class="checkbox">
                            <input type="checkbox" value='생명과학실험' onclick="CountChecked(this);"  name="A[]" />
                            <span class="icon"></span>
                            <span class="test">생명과학실험</span>
                            </label>

                            <label class="checkbox">
                            <input type="checkbox" value='지구과학실험' onclick="CountChecked(this);"  name="A[]" />
                            <span class="icon"></span>
                            <span class="test">지구과학실험</span>
                            </label>

                            <label class="checkbox">
                            <input type="checkbox" value='과학사' onclick="CountChecked(this);"  name="A[]" />
                            <span class="icon"></span>
                            <span class="test">과학사</span>
                            </label>

                            <label class="checkbox" >
                            <input type="checkbox" value='생활과 과학' onclick="CountChecked(this);"  name="A[]" />
                            <span class="icon"></span>
                            <span class="test">생활과 과학</span>
                            </label>

                            <br><br>


                            <p><b>체육예술-예술</b></p>

                            <label class="checkbox">
                            <input type="checkbox" value='미술감상과 비평' onclick="CountChecked(this);"  name="A[]" />
                            <span class="icon"></span>
                            <span class="test">미술감상과 비평</span>
                            </label>

                            <label class="checkbox">
                            <input type="checkbox" value='드로잉' onclick="CountChecked(this);"  name="A[]" />
                            <span class="icon"></span>
                            <span class="test">드로잉</span>
                            </label>

                            <label class="checkbox">
                            <input type="checkbox" value='음악 감상과 비평' onclick="CountChecked(this);"  name="A[]" />
                            <span class="icon"></span>
                            <span class="test">음악감상과 비평</span>
                            </label>

                            <label class="checkbox">
                            <input type="checkbox" value='시창청음' onclick="CountChecked(this);"  name="A[]" />
                            <span class="icon"></span>
                            <span class="test">시창청음</span>
                            </label>
                            <br><br>

                            <p><b>생활교양-교양&기술가정</b></p>

                            <label class="checkbox">
                            <input type="checkbox" value='진로와 직업'  onclick="CountChecked(this);"  name="A[]"/>
                            <span class="icon"></span>
                            <span class="test">진로와 직업</span>
                            </label>

                            <label class="checkbox">
                            <input type="checkbox" value='가정 과학' onclick="CountChecked(this);"  name="A[]" />
                            <span class="icon"></span>
                            <span class="test">가정 과학</span>
                            </label>

                            <label class="checkbox">
                            <input type="checkbox" value='공학 일반' onclick="CountChecked(this);"  name="A[]" />
                            <span class="icon"></span>
                            <span class="test">공학 일반</span>
                            </label>

                            <label class="checkbox">
                            <input type="checkbox" value='사물인터넷 서비스' onclick="CountChecked(this);"  name="A[]" />
                            <span class="icon"></span>
                            <span class="test">사물인터넷 서비스</span>
                            </label>

                            <label class="checkbox" >
                            <input type="checkbox" value='빅데이터 분석' onclick="CountChecked(this);"  name="A[]" />
                            <span class="icon"></span>
                            <span class="test">빅데이터 분석</span>
                            </label>
                            <br><br>

                            <p><b>체육예술-체육</b></p>

                            <label class="checkbox">
                            <input type="checkbox" value='체육전공실기기초' onclick="CountChecked(this);"  name="A[]"/>
                            <span class="icon"></span>
                            <span class="test">체육전공실기기초</span>
                            </label>

                            <label class="checkbox">
                            <input type="checkbox" value='스포츠 경기 체력' onclick="CountChecked(this);"  name="A[]" >
                            <span class="icon"></span>
                            <span class="test">스포츠 경기 체력</span>
                            </label>

                            <br><br>

                            <p><b>생활교양-제2외국어</b></p>
                        <label class="checkbox">
                            <input type="checkbox" value='중국어 회화1' onclick="CountChecked(this);"   name="A[]"/>
                            <span class="icon"></span>
                            <span class="test">중국어 회화1</span>
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='일본어회화' onclick="CountChecked(this);"   name="A[]"/>
                            <span class="icon"></span>
                            <span class="test">일본어 회화1</span>
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='중국문화'  onclick="CountChecked(this);"  name="A[]"/>
                            <span class="icon"></span>
                            <span class="test">중국문화</span>
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='일본문화' onclick="CountChecked(this);"   name="A[]"/>
                            <span class="icon"></span>
                            <span class="test">일본문화</span>
                        </label>

                        <br><br>



                            <p><b>생활교양-교양</b></p>
                            <label class="checkbox">
                                <input type="checkbox" value='철학' name="J[]" onclick="checkOnlyOne1(this);"/>
                                <span class="icon"></span>
                                <span class="test">철학</span>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" value='논리학' name="J[]" onclick="checkOnlyOne1(this);"/>
                                <span class="icon"></span>
                                <span class="test">논리학</span>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" value='심리학' name="J[]" onclick="checkOnlyOne1(this);"/>
                                <span class="icon"></span>
                                <span class="test">심리학</span>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" value='교육학' name="J[]" onclick="checkOnlyOne1(this);"/>
                                <span class="icon"></span>
                                <span class="test">교육학</span>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" value='논술' name="J[]" onclick="checkOnlyOne1(this);"/>
                                <span class="icon"></span>
                                <span class="test">논술</span>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" value='강원도의 역사와 문화' name="J[]" onclick="checkOnlyOne1(this);"/>
                                <span class="icon"></span>
                                <span class="test">강원도의 역사와 문화</span>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" value='환경' name="J[]" onclick="checkOnlyOne1(this);"/>
                                <span class="icon"></span>
                                <span class="test">환경</span>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" value='실용 경제' name="J[]" onclick="checkOnlyOne1(this);"/>
                                <span class="icon"></span>
                                <span class="test">실용 경제</span>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" value='공중 보건' name="J[]" onclick="checkOnlyOne1(this);"/>
                                <span class="icon"></span>
                                <span class="test">공중 보건</span>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" value='바리스타' name="J[]" onclick="checkOnlyOne1(this);" />
                                <span class="icon"></span>
                                <span class="test">바리스타</span>
                            </label>

                            <br><br>
                            <p><b>생활교양-기술가정</b></p>
                            <label class="checkbox">
                                <input type="checkbox" value='창의 경영' name="J[]" onclick="checkOnlyOne1(this);"/>
                                <span class="icon"></span>
                                <span class="test">창의 경영</span>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" value='인간발달' name="J[]" onclick="checkOnlyOne1(this);"/>
                                <span class="icon"></span>
                                <span class="test">인간발달</span>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" value='건축 일반' name="J[]" onclick="checkOnlyOne1(this);"/>
                                <span class="icon"></span>
                                <span class="test">건축 일반</span>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" value='기초 제도' name="J[]" onclick="checkOnlyOne1(this);"/>
                                <span class="icon"></span>
                                <span class="test">기초 제도</span>
                            </label>
                            <input type='reset'>

                            <input type='submit'>

                        </form>
                    </div>
                </div>

            </div>
        </div>

        <br><br><br>
        <label>
            <input type="submit">
            <div class="box-1">
                <div class="btn btn-one" onclick="javascript:document.getElementById('frm1').submit();">
                    <span><a >입력 완료</a></span>
                </div>
            </div>
        </label>

        </form>
        <!--
        <div class="box-1">
            <div class="btn btn-one">
                <span>입력 완료</span>
            </div>
        </div>
        
        <div class="final">
            <ul>
                <li>시수계산 결과</li>
                <li>진로과목수:</li>
                <li>기초교과 총 이수 단위수: </li>
                <li>사회과목 총 이수단위 수:</li>
                <li>과학과목 총 이수단위 수:</li>
                <li>생활, 교양 총 이수단위 수:</li>
                <li>이수단위 총 합:</li>
            </ul>
        </div>
-->
        <br><br><br>
{% endblock %}