{% extends 'base.html' %}
{% block title %}
    <title>느티::과목선택</title>

{% endblock %}

{% block content %}
    <script type="text/javascript">
        var maxCount = 3;								// 카운트 최대값은 2
        var count = 0;   								// 카운트, 0으로 초기화 설정

        function CountChecked(field){ 					// field객체를 인자로 하는 CountChecked 함수 정의
            if (field.checked) {						// 만약 field의 속성이 checked 라면(사용자가 클릭해서 체크상태가 된다면)
                count += 1;								// count 1 증가
            }
            else {										// 아니라면 (field의 속성이 checked가 아니라면)
                count -= 1;								// count 1 감소
            }

            if (count > maxCount) {						// 만약 count 값이 maxCount 값보다 큰 경우라면
                field.checked = false;						// (마지막 onclick한)field 객체의 checked를 false(checked가 아닌 상태)로 만든다.
                count -= 1;									// 이때 올라갔던 카운트를 취소처리해야 하므로 count를 1 감소시킨다.
            }
        }
    </script>
    <br>
        <ul class="care">
            <h2 class="hl">과목선택 시 유의사항</h2>
            </h2>
            <li><b>기초교과</b>(국어,영어,수학,한국사) 총 이수 단위 수 - <b>90단위 이하</b>여야한다. 단, 공동교육과정을 수강한 경우, 본인의 최종 이수단위의 50%를 초과하면 안된다.
            </li>
            <li><b>진로선택</b> 과목수 - <b>3과목 이상</b>이여야한다.</li>
            <li><b>사회과목</b> 총 이수 단위수 - <b>최소 10단위</b> 이상이여야한다.</li>
            <li><b>과학과목</b> 총 이수 단위수 - <b>최소 12단위</b> 이상이여야 한다.</li>

        </ul>

        <div>
            <div class="two">
                <div>
                    공통과목
                </div>
                <div>
                    <h1>2학년 선택이수 과목</h1>

                    <form method="POST" action="{% url 'second_end' %}" id="frm1">
                        {% csrf_token %}

                        <p><b>기초교과 과목<학기 집중이수></b></p>
                        <label class="checkbox">
                            <input type="checkbox" value='언어와 매체' name="A[]" onclick="checkOnlyOne1(this);"/>
                            <span class="icon"></span>
                            <span class="test">언어와 매체</span>
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='확률과 통계' name="A[]" onclick="checkOnlyOne1(this);"/>
                            <span class="icon"></span>
                            <span class="test">확률과 통계</span>
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='영어회화' name="A[]" onclick="checkOnlyOne1(this);"/>
                            <span class="icon"></span>
                            <span class="test">영어회화</span>
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='영미 문학 읽기' name="A[]" onclick="checkOnlyOne1(this);"/>
                            <span class="icon"></span>
                            <span class="test">영미 문학 읽기</span>
                        </label>
                        <br><br>

                        <p><b>탐구과목-사회</b></p>
                        <label class="checkbox">
                            <input type="checkbox" value='한국지리' onclick="CountChecked(this)" name="E[]"/>
                            <span class="icon"></span>
                            <span class="test">한국지리</span>
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='사회문화' onclick="CountChecked(this)" name="E[]"/>
                            <span class="icon"></span>
                            <span class="test">사회문화</span>
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='세계사' onclick="CountChecked(this)" name="E[]"/>
                            <span class="icon"></span>
                            <span class="test">세계사</span>
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='생활과 윤리' onclick="CountChecked(this)" name="E[]"/>
                            <span class="icon"></span>
                            <span class="test">생활과 윤리</span>
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='경제' onclick="CountChecked(this)" name="E[]"/>
                            <span class="icon"></span>
                            <span class="test">경제</span>
                        </label>
                        <br><br>

                        <p><b>탐구과목-과학</b></p>
                        <label class="checkbox">
                            <input type="checkbox" value='물리학1' onclick="CountChecked(this)" name="E[]"/>
                            <span class="icon"></span>
                            <span class="test">물리학1</span>
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='화학1' onclick="CountChecked(this)" name="E[]"/>
                            <span class="icon"></span>
                            <span class="test">화학1</span>
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='생명과학1' onclick="CountChecked(this)" name="E[]"/>
                            <span class="icon"></span>
                            <span class="test">생명과학1</span>
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='지구과학1' onclick="CountChecked(this)" name="E[]"/>
                            <span class="icon"></span>
                            <span class="test">지구과학1</span>
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='프로그래밍' onclick="CountChecked(this)" name="E[]"/>
                            <span class="icon"></span>
                            <span class="test">프로그래밍</span>
                        </label>
                        <br><br>

                        <p><b>체육예술-예술</b></p>
                        <label class="checkbox">
                            <input type="checkbox" name='D[]' value="연극" onclick="checkOnlyOne5(this);"/>
                            <span class="icon"></span>
                            <span class="test">연극</span>
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" name='D[]' value="음악 연주/미술 창작" onclick="checkOnlyOne5(this);"/>
                            <span class="icon"></span>
                            <span class="test">음악 연주/미술 창작</span>
                        </label>

                        <br><br>

                        <p><b>생활교양-기술가정&한문</b></p>
                        <label class="checkbox">
                            <input type="checkbox" name='B[]' value="정보" onclick="checkOnlyOne4(this);"/>
                            <span class="icon"></span>
                            <span class="test">정보</span>
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" name='B[]' value="한문1" onclick="checkOnlyOne4(this);"/>
                            <span class="icon"></span>
                            <span class="test">한문1</span>
                        </label>
                        <br><br>

                        <p><b>생활교양-제2외국어</b></p>
                        <label class="checkbox">
                            <input type="checkbox" value='중국어1' name="C[]" onclick="checkOnlyOne3(this);"/>
                            <span class="icon"></span>
                            <span class="test">중국어1</span>
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='일본어1' name="C[]" onclick="checkOnlyOne3(this);"/>
                            <span class="icon"></span>
                            <span class="test">일본어1</span>
                        </label>


                        <br><br>
                        <p><b>생활교양-교양</b></p>
                        <label class="checkbox">
                            <input type="checkbox" value='철학' name="H[]" onclick="checkOnlyOne2(this);"/>
                            <span class="icon"></span>
                            <span class="test">철학
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='논리학' name="H[]" onclick="checkOnlyOne2(this);"/>
                            <span class="icon"></span>
                            <span class="test">논리학
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='심리학' name="H[]" onclick="checkOnlyOne2(this);"/>
                            <span class="icon"></span>
                            <span class="test">심리학
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='교육학' name="H[]" onclick="checkOnlyOne2(this);"/>
                            <span class="icon"></span>
                            <span class="test">교육학
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='논술' name="H[]" onclick="checkOnlyOne2(this);"/>
                            <span class="icon"></span>
                            <span class="test">논술
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='강원의 역사와 문화' name="H[]" onclick="checkOnlyOne2(this);"/>
                            <span class="icon"></span>
                            <span class="test">강원의 역사와 문화
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='환경' name="H]" onclick="checkOnlyOne2(this);"/>
                            <span class="icon"></span>
                            <span class="test">환경
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='실용 경제' name="H[]" onclick="checkOnlyOne2(this);"/>
                            <span class="icon"></span>
                            <span class="test">실용 경제
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='공중 보건' name="H[]" onclick="checkOnlyOne2(this);"/>
                            <span class="icon"></span>
                            <span class="test">공중 보건
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='바리스타' name="H[]" onclick="checkOnlyOne2(this);"/>
                            <span class="icon"></span>
                            <span class="test">바리스타
                        </label>

                        <br><br>
                        <p><b>생활교양-기술가정</b></p>
                        <label class="checkbox">
                            <input type="checkbox" value='창의 경영' name="H[]" onclick="checkOnlyOne2(this);"/>
                            <span class="icon"></span>
                            <span class="test">창의 경영
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='인간발달' name="H[]" onclick="checkOnlyOne2(this);"/>
                            <span class="icon"></span>
                            <span class="test">인간발달
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='건축 일반' name="H[]" onclick="checkOnlyOne2(this);"/>
                            <span class="icon"></span>
                            <span class="test">건축 일반
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='기초 제도' name="H[]" onclick="checkOnlyOne2(this);"/>
                            <span class="icon"></span>
                            <span class="test">기초 제도
                        </label>

                        <label class="checkbox">
                            <input type="checkbox" value='응용 프로그래밍 개발' name="H[]" onclick="checkOnlyOne2(this);"/>
                            <span class="icon"></span>
                            <span class="test">응용 프로그래밍 개발</span>
                        </label>

                        <input type='reset'>

                        <br><br><br>
                        <label>


                        </label>

                    </form>


                </div>

            </div>
        </div>

        <br><br><br>

        <label>
            <input type="submit">
            <div class="box-1">

                <div class="btn btn-one" onclick="document.getElementById('frm1').submit()">
                    <a >입력 완료</a>
                </div>
            </div>
        </label>
        <!--
        <div class="final">
            <ul>
                <li>시수계산 결과</li>
                <li>진로과목수:</li>
                <li>기초교과 총 이수 단위수: </li>
                <li>사회과목 총 이수단위 수:</li>
                <li>과학과목 총 이수단위 수:</li>
                <li>생활, 교양 총 이수단위 수:</li>
                <li>이수단위 총 합:</li>
            </ul>
        </div>
-->
        <br><br><br>
    </section>
{% endblock %}
