{% extends 'base.html' %}


{% block title %}
    <title>느티::홈</title>
{% endblock %}


{% block content %}
        <div class="care">
            <div class="tmi">
                <h2 class="hl">고교학점제란?</h2> <p class="b">고교학점제는 학생들이 진로에 따라 다양한 과목을 선택 · 이수하고 누적학점이 기준에 도달할 경우
                졸업을 인정받는 제도입니다.</p>
                교육부(2017)
                <p></p>
                <p class="b">진로에 따라 다양한 과목을 선택하는 제도입니다.</p class="b">
                지금까지 고등학생들은 주어진 교육과정에 따라 수업을 들었습니다.
                하지만 고교학점제가 시행되면, 학생들은 자신의 진로에 따라 원하는
                 과목을 선택하여 수업을 듣게 됩니다.
                <p></p>
                <p class="b">목표한 성취 수준에 도달했을 때 과목을 이수하는 제도입니다.</p class="b">
                기존에는 학생이 성취한 등급에 상관없이 과목을 이수할 수 있었습니다.
                하지만 고교학점제가 시행되면, 학생이 목표한 성취 수준에 충분히
                도달하였다고 판단하는 경우에 과목 이수를 인정해 줍니다. 따라서 배움의 질이 보장될 수 있습니다.
                <p></p>
                <p class="b">누적 학점이 기준에 도달한 경우에 졸업하는 제도입니다.</p class="b">
                기존 고등학교에서는 출석 일수로 졸업 여부를 결정하였습니다. 하지만 고교학점제가 시행되면,
                누적된 과목 이수 학점이 졸업 기준에 이르렀을 때 졸업이 가능하게 됩니다. 따라서 졸업이 곧
                본질적인 학력 인정으로 이어질 수 있습니다.
            </div>

            <br>

            <article>
                <div class="tmi">
                    <h2 class="hl">느티의 사용방법</h2>
                    <div class="">
                        <p>1. 각 학년에 알맞은 페이지에 입장</p>
                        <p>2. 자신이 내년에 수강할 과목 선택</p>
                        <p>3. 입력 완료 버튼 누르기</p>
                        <p>4. 시수계산을 통해 자신이 올바르게 과목선택했는지 확인하기</p>
                    </div>
                </div>
            </article>

        </div>


            <br>
            <img src="1.gif" width="40%" height="40%">
            <br>

            <br><br><br>

            <div class="tmi">
                <p> 개발자  20803_김채원  20810_변예준</p>
            </div>

{% endblock %}