<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/login.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<br>

<body bgcolor="rgb(131,131,131">
    <div class="nemo">
        <div class="logo">
            <h1>느티</h1>
        </div>

        <form method="POST">
            <label>
                <span><input type="radio" name="people" value="student" />학생</span>
                <span class="icon"></span></label>

            <label>
                <span><input type="radio" name="people" value="teacher" />교사</span>
                <span class="icon"></span></label>

            <div class="ip">
                <p><input type="text" name="id" placeholder="아이디"></p>
                <p> <input type="password" name="password" placeholder="비밀번호"></p>
            </div>
        </form>

        <br>
        <div class="wrapper">
            <div class="link_wrapper">
                <a href="grade2__choose.html">로그인</a>
                <div class="icon">

                    </svg>
                </div>
            </div>
        </div>
</body>

<footer>

</footer>



</html>

<!--
background: linear-gradient(to bottom, #f0dee3, #f4eeed);
background: linear-gradient(to bottom, #ffe5d8,#fbeee5);

background: linear-gradient(to top, #cddad2, #8aded1);
-->