{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>느티::로그인</title>
</head>
<br>

<body >
    <div class="nemo">
        <div class="logo">
            <h1>느티</h1>
        </div>

        <form method="POST" action="{% url 'login' %}" id="frm1">
            {% csrf_token %}
            <label>
                <span><input type="radio" name="people" value="student" checked/>학생</span>
                <span class="icon"></span></label>

            <label>
                <span><input type="radio" name="people" value="teacher" />교사</span>
                <span class="icon"></span></label>

            <div class="ip">
                <p><input type="text" name="student_number" placeholder="학번"></p>
                <p> <input type="text" name="name" placeholder="이름"></p>
            </div>

            <div class="wrapper">
                <div class="link_wrapper">
                    <a onclick="document.getElementById('frm1').submit();">로그인</a>
                    <div class="icon">
                    </div>
                </div>
            </div>

        </form>

        <br>

</body>

<footer>

</footer>



</html>

<!--
background: linear-gradient(to bottom, #f0dee3, #f4eeed);
background: linear-gradient(to bottom, #ffe5d8,#fbeee5);

background: linear-gradient(to top, #cddad2, #8aded1);
-->
