<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/login.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="rgb(131,131,131">
    <div class="nemo">
        <div class="logo">
            <h1>느티</h1>
        </div>
        <div class="student">
            <label class="radio">
                <span><input type="radio" name="student">학생</span>
                <span><input type="radio" name="teacher">선생</span>
            </label>
        </div>
        <div class="ip">
            
            <p>아이디 :<input type="text" name="id"></p>
            <p>비밀번호 :<input type="password" name="password"></p>
        </div>
        
            <div class="wrapper">
                <div class="link_wrapper">
                  <a href="#">로그인</a>
                  <div class="icon">
                    
                    </svg>
                  </div>
                </div>
            </div>
</body>
</html>