{% load static   %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>느티::로그인</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/favicon.png">
    <title>Document</title>
</head>
<body bgcolor="rgb(131,131,131">
    <div class="nemo">
        <div class="logo">
            <h1>느티</h1>
        </div>

        <div class="ip">
            <form action="{% url 'login' %}" method="POST" id="frm1">
                <div class="student">
            <label class="radio">
                <span><input type="radio" name="type" value="student" checked>학생</span>
                <span><input type="radio" name="type" value="teacher">선생님</span>

            </label>
        </div>
                {% csrf_token %}
                <p>학번 :<input type="text" name="student_number"></p>
                <p>이름 :<input type="text" name="name"></p>

                <div class="wrapper">
                    <div class="link_wrapper">
                      <a href="#" onclick="checkFields();">로그인</a>
                      <div class="icon">

                        </svg>
                      </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        function checkFields() {
            document.getElementById('frm1').submit();

        }

    </script>
</body>
</html>