{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <title>느티(고교학점제 계산기)</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="main.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>

    <header>

        <nav>
            <ul>
                <li>고교학점 시수 계산기</li>
                <li><a href="#two"> 2학년 과목선택</a></li>
                <li><a href="#three"> 3학년 과목선택</a></li>
                <li><a href="#f"> 최종 과목선택시수</a></li>
            </ul>
        </nav>

        <HR size="3" width=100% color="green" align="center">
    </header>

    <br><br><br><br><br>
    <br><br>


    <section>
        <ul class="readit">
            <h2>과목선택 시 <font color:"red">유의사항</font></h2>
            <li><b>기초교과</b>(국어,영어,수학,한국사) 총 이수 단위 수 - <b>90단위 이하</b>여야한다. 단, 공동교육과정을 수강한 경우, 본인의 최종 이수단위의 50%를 초과하면 안된다.</li>
            <li><b>진로선택</b> 과목수 - <b>3과목 이상</b>이여야한다.</li>
            <li><b>사회과목</b> 총 이수 단위수 - <b>최소 10단위</b> 이상이여야한다.</li>
            <li><b>과학과목</b> 총 이수 단위수 - <b>최소 12단위</b> 이상이여야 한다.</li>
        </ul>
    </section>

    </section>

    <p></p>
    <br><br><br><br><br>
    <!--
    <section>

        <article id="two">
        <section>
            <div>
                <h1>2학년 선택이수 과목</h1>
                <label class="container">
                <form action='a.jsp'>
                    <label>
                    기초교과 과목<학기집중이수><br>
                    <input type='radio' name='standard' value='female' />언어와 매체
                    <input type='radio' name='standard' value='unme' />확률과 통계
                    <input type='radio' name='standard' value='female' />영어회화
                    <input type='radio' name='standard' value='unme' />영미 문학 읽기
                    </label>
                    <br>
                    사회교과 과목<br>
                    <input type='checkbox' name='society' value='apple' />한국지리
                    <input type='checkbox' name='society' value='banana' />사회문화
                    <input type='checkbox' name='society' value='orange' />세계사
                    <input type='checkbox' name='society' value='apple' />생활과 윤리
                    <input type='checkbox' name='society' value='banana' />경제
                    <br>
                    과학교과 과목<br>
                    <input type='checkbox' name='sience' value='apple' />물리학1
                    <input type='checkbox' name='sience' value='banana' />화학1
                    <input type='checkbox' name='siencey' value='orange' />생명과학1
                    <input type='checkbox' name='siencey' value='orange' />지구과학1
                    <br>
                    생활, 교양 과목<br>
                    <input type='checkbox' name='rest' value='apple' />프로그래밍
                    <input type='radio' name='rest' value='banana' />중국어 회화1/일본어 회화1/중국문화/일본문화
                    <input type='radio' name='rest' value='orange' />철학/논리학/심리학/교육학/
                    <input type='checkbox' name='rest' value='orange' />물리1
                    <br><br>
                    <input type='submit'>
                    </form>
                </label>
            </div>

            <div>
                <h1>추가선택과목 모음</h1>
                <div>
                    <p>공통이수과목</p>
                    <p>국어 독서 수1 수2</p>
                </div>
            </div>
            <div>

                    <ul>
                        <li><p>시수계산 결과</p></li>
                        <li><p>진로과목수:</p></li>
                        <li><p>기초교과 총 이수 단위수: </p></li>
                        <li><p>사회과목 총 이수단위 수:</p></li>
                        <li><p>과학과목 총 이수단위 수:</p></li>
                        <li><p>생활, 교양 총 이수단위 수:</p></li>
                        <li><p>이수단위 총 합:</p></li>
                    </ul>

            </div>

        </section>

        </article>
    </section>
    -->
    <br>

    <section>
        <article id="two">
            <div>
                <div class="container">
                    <div class="row">
                      <div class="col">
                          <h1>2학년 공통 이수과목</h1>
                          <p>독서  문학  수학1  수학2  영어1  영어2  운동과 건강  음악연주or미술창작  정보or한문1</p>
                      </div>
                      <div class="col-3">
                        <div>
                            <h1>2학년 선택이수 과목</h1>

                            <form method="POST">


                                <p><b>기초교과 과목<학기 집중이수></b></p>
                                <label class="checkbox" name='언어와 매체'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">언어와 매체</span>
                                </label>

                                <label class="checkbox" name='확률과 통계'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">확률과 통계</span>
                                </label>

                                <label class="checkbox" name='영어회화'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">영어회화</span>
                                </label>

                                <label class="checkbox" name='영미문학읽기'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">영미문학읽기</span>
                                </label>
                                <br><br>

                                <p><b>탐구과목-사회</b></p>
                                <label class="checkbox" name='한국지리'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">한국지리</span>
                                </label>

                                <label class="checkbox" name='사회문화'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">사회문화</span>
                                </label>

                                <label class="checkbox" name='세계사'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">세계사</span>
                                </label>

                                <label class="checkbox" name='생활과 윤리'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">생활과 윤리</span>
                                </label>

                                <label class="checkbox" name='경제'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">경제</span>
                                </label>
                                <br><br>

                                <p><b>탐구과목-과학</b></p>
                                <label class="checkbox" name='물리학1'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">물리학1</span>
                                </label>

                                <label class="checkbox" name='화학1'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">화학1</span>
                                </label>

                                <label class="checkbox" name='생명과학1'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">생명과학1</span>
                                </label>

                                <label class="checkbox" name='지구과학1'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">지구과학1</span>
                                </label>

                                <label class="checkbox" name='프로그래밍'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">프로그래밍</span>
                                </label>
                                <br><br>

                                <p><b>생활교양-제2외국어</b></p>
                                <label class="checkbox" name='중국어회화'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">중국어회화</span>
                                </label>

                                <label class="checkbox" name='일본어회화'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">일본어회화</span>
                                </label>

                                <label class="checkbox" name='중국문화'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">중국문화</span>
                                </label>

                                <label class="checkbox" name='일본문화'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">일본문화</span>
                                </label>

                                <br><br>
                                <p><b>생활교양-교양</b></p>
                                <label class="checkbox" name='철학'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">철학 / 논리학 / 심리학 / 교육학 / 논술 / 강원의약사와 문화 / 환경 / 실용경제 / 공중보건 / 바리스타</span>
                                </label>

                                <br><br>
                                <p><b>생활교양-기술가정</b></p>
                                <label class="checkbox" name='창의경영'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">창의경영 / 인간발달 / 건축일반 / 기초제도 </span>
                                </label>

                                <label class="checkbox" name='응용 프로그래밍 개발'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">응용 프로그래밍 개발</span>
                                </label>

                                <input type='submit'>
                                </form>

                        </div>
                      </div>
                      <div class="col-3">
                        <ul>
                            <li><p>시수계산 결과</p></li>
                            <li><p>진로과목수:</p></li>
                            <li><p>기초교과 총 이수 단위수: </p></li>
                            <li><p>사회과목 총 이수단위 수:</p></li>
                            <li><p>과학과목 총 이수단위 수:</p></li>
                            <li><p>생활, 교양 총 이수단위 수:</p></li>
                            <li><p>이수단위 총 합:</p></li>
                        </ul>
                      </div>
                    </div>
                </div>
            </div>

          </article>
    </section>
    <br><br><br><br><br>




    <section>
        <article id="three">
            <div>
                <div class="container">
                    <div class="row">
                      <div class="col">
                            <h1>  3학년 공통 이수과목</h1>
                            <p>체육탐구</p>

                      </div>
                      <div class="col">
                        <div>
                            <h1>3학년 선택이수 과목</h1>
                            <label class="checkbox">
                            <form action='a.jsp'>

                                <p><b>기초교과 과목-국어</b></p>
                                <label class="checkbox" name='화법과 작문'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">화법과 작문</span>
                                </label>

                                <label class="checkbox" name='심화국어'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">심화국어</span>
                                </label>

                                <label class="checkbox" name='고전읽기'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">고전읽기</span>
                                </label>

                                <label class="checkbox" name='실용국어'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">실용국어</span>
                                </label>


                                <br><br>
                                <p><b>기초교과 과목-수학</b></p>
                                <label class="checkbox" name='확률과 통계'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">확률과 통계</span>
                                </label>

                                <label class="checkbox" name='미적분'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">미적분</span>
                                </label>

                                <label class="checkbox" name='기하'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">기하</span>
                                </label>

                                <label class="checkbox" name='수학과제탐구'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">수학과제탐구</span>
                                </label>

                                <label class="checkbox" name='경제수학'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">경제수학</span>
                                </label>

                                <label class="checkbox" name='실용수학'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">실용수학</span>
                                </label>


                                <br><br>
                                <p><b>기초교과 과목-영어</b></p>
                                <label class="checkbox" name='영어회화'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">영어회화</span>
                                </label>

                                <label class="checkbox" name='영어 독해와 작문'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">영어 독해와 작문</span>
                                </label>

                                <label class="checkbox" name='영미 문학 읽기'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">영미 문학 읽기</span>
                                </label>

                                <label class="checkbox" name='영어권 문화'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">영어권 문화</span>
                                </label>

                                <label class="checkbox" name='실용영어'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">실용영어</span>
                                </label>

                                <br><br>

                                <p><b>탐구과목-사회(역사/윤리 포함)</b></p>
                                <label class="checkbox" name='세계지리'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">세계지리</span>
                                </label>

                                <label class="checkbox" name='윤리와 사상'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">윤리와 사상</span>
                                </label>

                                <label class="checkbox" name='동아시아사'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">동아시아사</span>
                                </label>

                                <label class="checkbox" name='정치와 법'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">정치와 법</span>
                                </label>

                                <label class="checkbox" name='여행지리'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">여행지리</span>
                                </label>

                                <label class="checkbox" name='사회문제 탐구'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">사회문제 탐구</span>
                                </label>

                                <label class="checkbox" name='고전과 윤리'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">고전과 윤리</span>
                                </label>


                                <p><b>탐구과목-과학</b></p>
                                <label class="checkbox" name='물리학1'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">물리학1</span>
                                </label>

                                <label class="checkbox" name='화학1'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">화학1</span>
                                </label>

                                <label class="checkbox" name='생명과학1'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">생명과학1</span>
                                </label>

                                <label class="checkbox" name='지구과학1'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">지구과학1</span>
                                </label>

                                <label class="checkbox" name='물리학2'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">물리학2</span>
                                </label>

                                <label class="checkbox" name='화학2'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">화학2</span>
                                </label>

                                <label class="checkbox" name='생명과학2'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">생명과학2</span>
                                </label>

                                <label class="checkbox" name='지구과학2'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">지구과학2</span>
                                </label>

                                <br><br>
                                <label class="checkbox" name='물리학실험'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">물리학실험</span>
                                </label>

                                <label class="checkbox" name='화학실험'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">화학실험</span>
                                </label>

                                <label class="checkbox" name='생명과학실험'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">생명과학실험</span>
                                </label>

                                <label class="checkbox" name='지구과학실험'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">지구과학실험</span>
                                </label>

                                <label class="checkbox" name='과학사'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">과학사</span>
                                </label>

                                <label class="checkbox" name='생활과 과학'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">생활과 과학</span>
                                </label>


                                <p><b>생활교양-교양</b></p>
                                <label class="checkbox" name='철학'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">철학 / 논리학 / 심리학 / 교육학 / 논술 / 강원의약사와 문화 / 환경 / 실용경제 / 공중보건 / 바리스타</span>
                                </label>

                                <br><br>
                                <p><b>생활교양-기술가정</b></p>
                                <label class="checkbox" name='창의경영'/>
                                    <input type="checkbox">
                                    <span class="icon"></span>
                                    <span class="test">창의경영 / 인간발달 / 건축일반 / 기초제도 </span>
                                </label>

                                <br>


                                <input type='submit'>
                                </form>
                            </label>
                        </div>
                      </div>
                      <div class="col">
                        <ul>
                            <li><p>시수계산 결과</p></li>
                            <li><p>진로과목수:</p></li>
                            <li><p>기초교과 총 이수 단위수: </p></li>
                            <li><p>사회과목 총 이수단위 수:</p></li>
                            <li><p>과학과목 총 이수단위 수:</p></li>
                            <li><p>생활, 교양 총 이수단위 수:</p></li>
                            <li><p>이수단위 총 합:</p></li>
                        </ul>
                      </div>
                    </div>
                </div>
            </div>

          </article>
    </section>
    <p></p>
    <br><br><br><br><br>




    <section>
      <article id="f">
        <h1>최종 과목 선택시수계산</h1>
        <div>
            <p>1. 진로선택 과목 수 :</p>
            <p>2. 기초교과(국어, 영어, 수학, 한국사) 총 이수단위 수 :</p>
            <p>3. 사회과목 총 이수 단위수 :</p>
            <p>4. 과학과목 총 이수 단위수 :</p>
            <p>5. 생활,교양 교과의 총 이수단위수 : </p>
        </div>
     </article>
    </section>

    <br>
    <footer>
      <HR size="3" width=100% color="green" align="center">
      <p>Footer</p>
    </footer>

</body>
</html>
