<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="teacher.js"></script>
    <title>Document</title>
</head>

<body>

    <header>
        <div class="logo">
            <center><span style="color:#2A484E"> 느티</span></center>
            <div class="login">
                <a href="log_in.html"></a>
            </div>
    </header>




    <nav>
        <ul>
            <li><a href="log_in.html">로그인</a></li>
            <li><a href="teacher.html">학생 정보 확인</a></li>
        </ul>
    </nav>


    <section>


          <h2 class="title"> [학년-반]의 학생들이 선택한 과목 정보 </h2>
          <div class="final">
          <table class="table" style="width:100%">
            <tr>
              <th>이름</th>
              <th>학번</th> 
              <th>선택과목</th>
              <th>시수조건 체크</th> 
            </tr>

            <tr>
              <td>김서영</td>
              <td>20801</td>
              <td>확통, 독서, 영어, 지구1</td>
              <td>o</td>
            </tr>

            <tr>
              <td>김정훈</td>
              <td>20802</td>
              <td>확통, 독서, 영어, 생명, 지구, 체육</td>
              <td>x</td>
            </tr>
            <tr>
                <td>김채원</td>
                <td>20803</td>
                <td>확통, 독서, 영어, 생명, 지구, 체육</td>
                <td>x</td>
              </tr>

            <tr>
              <td>김하형</td>
              <td>20804</td>
              <td>확통, 독서, 영어, 물리, 지구, 수학</td>
              <td>o</td>
            </tr>

            <tr>
                <td>김학래</td>
                <td>20805</td>
                <td>확통, 독서, 영어, 지구1</td>
                <td>o</td>
              </tr>
  
              <tr>
                <td>나창훈</td>
                <td>20806</td>
                <td>확통, 독서, 영어, 생명, 지구, 체육</td>
                <td>x</td>
              </tr>
  
              <tr>
                <td>노연우</td>
                <td>20807</td>
                <td>확통, 독서, 영어, 물리, 지구, 수학</td>
                <td>x</td>
              </tr>
          </table></div>
          <!--
        <h2 class="title"> 과목 선택 시수 계산 결과 </h2>
        <div class="final">
            <ul>
                <li>진로과목수:</li>
                <li>기초교과 총 이수 단위수: </li>
                <li>사회과목 총 이수단위 수:</li>
                <li>과학과목 총 이수단위 수:</li>
                <li>생활, 교양 총 이수단위 수:</li>
                <li>이수단위 총 합:</li>
            </ul>
        </div>-->
    </section>

</body>

</html>