{% extends 'base.html' %}
{% block title %}
    <title>느티::과목선택</title>
{% endblock %}

{% block content %}

          <h2 class="title"> [학년-반]의 학생들이 선택한 과목 정보 </h2>
          <div class="final">
          <table class="table" style="width:100%">
            <tr>
              <th>이름</th>
              <th>학번</th> 
              <th>선택과목</th>
              <th>시수조건 체크</th> 
            </tr>

            <tr>
              <td>김서영</td>
              <td>20801</td>
              <td>확통, 독서, 영어, 지구1</td>
              <td>o</td>
            </tr>
          </table></div>

{% endblock %}